<h1><%= @user.name %></h1>
User name: <%= @user.name %><br>
E-mail address: <%= @user.email %><br>
<div class="events">
  <h2><%= "Upcoming events created by #{@user.name}:" %></h2>
  <% if @upcoming_events.any? %>
    <%= render partial: 'shared/event_list', locals: { events: @upcoming_events.future } %>
  <% else %>
    <p><%= "No upcoming events by created #{@user.name}" %></p>
  <% end %>
</div>

<h2>Past events created by <%= @user.name %></h2>
<% if @previous_events.any? %>
  <%= render partial: 'shared/event_list', locals: { events: @previous_events } %>
<% else %>
  <p><%= "No past events created by #{@user.name}" %></p>
<% end %>

<h2>Events attended by <%= @user.name %></h2>
<% if @attended_events.any? %>
  <%= render partial: 'shared/event_list', locals: { events: @attended_events } %>
<% else %>
  <p><%= "No events attended by #{@user.name}" %></p>
<% end %>