<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash.any? %>
      <div class="flash-display">
        <% flash.each do |type, msg| %>
          <li><%= "#{type.to_s.upcase}: #{msg}" %></li>
        <% end %>
      </div>
    <% end %>
    
    <div class="login-bar">
      <% if logged_in? %>
        Logged in as: <%= link_to current_user.name, user_path(current_user) %>
        <%= link_to ' (log out)', logout_path, method: :delete %>
      <% else %>
        <%= link_to 'Log in', login_path %> or <%= link_to 'Create a new user', new_user_path %>
      <% end %>
    </div>
    <div>
      <%= link_to "All Events", root_path %>
      <% if logged_in? %>
        <%= " | " %> 
        <%= link_to 'Create a new Event', new_event_path %>
        <%= " | " %>
        <%= link_to 'Invitations', user_invitations_path(current_user.id)%>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>